


<div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">TÊN SẢN PHẨM</th>
                    <th scope="col">ĐÃ BÁN</th>
                    <th scope="col">TỒN KHO</th>
                    <th scope="col">GIÁ</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                {{#each products}}
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td ><a class="tm-product-name" href="/products/detail/{{_id}}">{{title}}</a></td>
                    <td>{{sold}}</td>
                    <td>{{stock}}</td>
                    <td>{{basePrice}}</td>
                  </tr>     
                </tbody>
                {{/each}}
              </table>
            </div>
            <!-- table container -->

            <a href="/products/add" class="btn btn-primary btn-block text-uppercase mb-3">Thêm Sách</a>
              <a href="/products/recycle-bin" class="btn btn-primary btn-block text-uppercase mb-3">Sách đã bị xóa</a>
              <div class="paginate-center">
                  <ul class="paginate-center-ul">
                      {{#paginate pagination type="first"}}
                          <li {{#if disabled}}class="li-paginate" {{/if}} style="float:left;"class="li-paginate" >
                              <a  href="?{{../query}}p={{n}}"><<</a>
                          </li>
                      {{/paginate}}
                      {{#paginate pagination type="previous"}}
                          <li {{#if disabled}}class="li-paginate" {{/if}}style="float:left;" class="li-paginate">
                              <a href="?{{../query}}p={{n}}"><</a>
                          </li>
                      {{/paginate}}
                      {{#paginate pagination type="middle" limit="5"}}
                          <li {{#if active}} class=" activate" {{/if}} style="float:left;" class="li-paginate" >
                              <a href="?{{../query}}p={{n}}">{{n}}</a>
                          </li>
                      {{/paginate}}
                      {{#paginate pagination type="next"}}
                          <li {{#if disabled}}class="li-paginate"   {{/if}}style="float:left;" class="li-paginate">
                              <a href="?{{../query}}p={{n}}">>
                              </a>
                          </li>
                      {{/paginate}}
                      {{#paginate pagination type="last"}}
                          <li {{#if disabled}}class="li-paginate"  {{/if}}style="float:left;"class="li-paginate">
                              <a  href="?{{../query}}p={{n}}">>></a>
                          </li>
                      {{/paginate}}
                  </ul>
              </div>
          </div>

        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
              <form method="get" onsubmit="return formSubmit(this)">
                  <input type="text"  style="margin-bottom: 30px;"name="keyword" >
                  <button type="submit">search</button>
              </form>

            <h2 class="tm-block-title">Nhãn Sách</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table">
                {{#each categories}}
                <tbody>
                  <tr>
                    <td class="tm-product-name">
                        <a class="category-link"href="/products/category/{{_id}}">{{category_name}}</a>
                    </td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
                {{/each}}
              </table>
            </div>
            <!-- table container -->
            <button class="btn btn-primary btn-block text-uppercase mb-3">
              Add new category
            </button>
          </div>
        </div>
      </div>
    </div>


<script>

</script>